.calcButtons{
    height: 5.625rem;
    width: 5.625rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: #f4f1f1;
    user-select: none;
    box-shadow: 5px 5px 15px #A0C3D2, -5px -5px 15px #ffff;
}

.accentButtons{
    width: 11.25rem;
    background-color: #D2AFA0;

}