* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    height: 40rem;
    width: 27rem;
    border-radius: 2rem;
    background-color: #E8E2E2;
    box-shadow: 20px 20px 60px #A0C3D2, -20px -20px 60px #ffff;
}

.display{
    font-size: 2rem;
    width: 25rem;
    height: 5.5rem;
    scrollbar-width: none;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 10px 10px 30px #A0C3D2, -10px -10px 30px #ffff;
}

.displayBox{
    width: 24rem;
    height: min-content;
    overflow-y: auto;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    text-align: right;
}

.buttons{
    height: 33rem;
    width: 26.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
}